


.table{
    border-spacing: 0;
    margin: 1rem;
    background-color: #f5f5f5;
}

.table__row:nth-child(even){
    background-color: #e5e5e5;
}

.table__header{
    text-align: left
}

.table__cell{
    padding: 8px;
}

.alert-simple.alert-success {
    border: 1px solid rgba(36, 241, 6, 0.46);
    background-color: rgba(7, 149, 66, 0.12156862745098039);
    box-shadow: 0px 0px 2px #259c08;
    color: #0ad406;
  text-shadow: 2px 1px #00040a;
  transition:0.5s;
  cursor:pointer;
}
  