{% extends 'FacultyBasePage.html' %}

{% block title %}
    Omnia CompanyDetails
{% endblock %}


{% block content %}
<div class="container">
    <h2>All Companies</h2>
    <p>All the companies that are Hiring for current acedemic year</p> 
    <form method="POST" action="/Faculty/AddCompanyPage">
        <input type="submit" class="btn btn-primary" value="Add company">
    </form>      
    <br><br>     

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Company Name</th>
          <th>Package</th>
          <th>Number of interview candidates</th>
          <th>Successful candidates</th>
          <th>Type of company</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        {% for row in data %}
        <tr>
            {% for cell in row[1:] %}
                <td>{{ cell }}</td>
            {% endfor %}
            <td>
              <form method="POST" action="/Faculty/DisplayList/{{row[0]}}">
                  <input type="submit" value="Show more">
              </form>
            </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    
  </div>
  <div class="container">
    <ul class="pagination">
      <li class="active"><a href="#">1</a></li>
      <li><a href="#">2</a></li>
    </ul>
  </div>

  {% endblock %}