{% extends 'basePage.html' %}

{% block title %}
    Omnia Dashboard
{% endblock %}

{% block content %}
  <h1 class="main display-1">#OMNIA</h1>
  <h6 class="sub-head">A PLACEMENT READY PLATFORM</h6>
  <!-- start of cards-->
  <div class="row">
    <div class="col-sm-4">
      <div class="card bg-warning">
        <div class="card-body">
          <h5 class="card-title">Student Leaderboard</h5>
          <p class="card-text">Look at top performers from our college!                         </p>
          <a href="http://127.0.0.1:5000/leaderboard" class="btn btn-dark text-white">Check Leaderboard</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card bg-success text-white">
        <div class="card-body">
          <h5 class="card-title">My Performance</h5>
          <p class="card-text">Analysis of your performance in top competetive coding platforms</p>
          <a href="http://127.0.0.1:5000/MyPerformance" class="btn btn-dark text-white">Check Performance</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card bg-info">
        <div class="card-body">
          <h5 class="card-title">Contests</h5>
          <p class="card-text">A list of all the coding contests happening around you! Participate Today!</p>
          <a href="https://clist.by" class="btn btn-dark text-white">Show Contests</a>
        </div>
      </div>
    </div>
  </div>
  <br>
{% endblock %}