{% extends 'FacultyBasePage.html' %}

{% block title %}
    Omnia Dashboard
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-sm-4">
       <div class="container-fluid">
            <h3>Student Leaderboard</h3>
            <ul class="nav nav-pills">
              <li class="active"><a href="#">1st year</a></li>
              <li><a href="#">2nd Year</a></li>
              <li><a href="#">3rd year</a></li>
              <li><a href="#">4th Year</a></li>
            </ul>
            <ol>
              {% for row in data %}
                <li>
                  <p>{{row[0]}} {{row[1]}}</p>
                </li>
              {% endfor %}
            </ol>
            <a href="/adminLeaderboard">See all</a>
        </div>
        
      </div>
      
    <div class="col-sm-4">
      <div class="container-fluid">
        <h3>Student Leaderboard</h3>
        <ul class="nav nav-pills">
          <li class="active"><a href="#">1st year</a></li>
          <li><a href="#">2nd Year</a></li>
          <li><a href="#">3rd year</a></li>
          <li><a href="#">4th Year</a></li>
        </ul>
        <ol>
            {% for row in data %}
              <li>
                <p>{{row[0]}} {{row[1]}}</p>
              </li>
            {% endfor %}
        </ol>
        <a href="/adminLeaderboard">See all</a>
      </div>
      
    </div>
    <div class="col-sm-3">
      <div class="container-fluid">
        <h3>CRT Stastics</h3>
        <p>View all student performance</p>
        <a href="/Faculty/CRTstatistics" class="btn btn-primary">View Stastics</a>
      </div>
    </div>
  </div>
{% endblock %}