{% extends 'basePage.html' %}

{% block title %}
{{data[0][0]}} Profile
{% endblock %}

{% block content %}




<div class="container">
    <div class="row">
       <div class="col-md-5">
          <div class="card">
             <div class="card-body">
                <div class="row">
                   <div class="col">
                      <center>
                         <h4>User Details</h4>
                      </center>
                   </div>
                </div>
                <div class="row">
                   <div class="col">
                      <center>
                         <img width="100px" src="https://findicons.com/files/icons/1994/vista_style_business_and_data/256/users.png" />
                      </center>
                   </div>
                </div>
                <div class="row">
                   <div class="col">
                      <hr style="border: 2px solid red;">
                   </div>
                </div>
                <h5>User Id</h5>
                <h6 style="color : rgb(55, 0, 255)">{{data[0][0]}}</h6><hr>
                <h5>Name</h5>
                <h6 style="color : rgb(55, 0, 255)">{{data[0][1]}}</h6><hr>
                <h5>Email</h5>
                <h6 style="color : rgb(55, 0, 255)">{{data[0][11]}}</h6><hr>
                <h5>Phone</h5>
                <h6 style="color : rgb(55, 0, 255)">{{data[0][12]}}</h6><hr>
                <h5>GPA</h5>
                <h6 style="color : rgb(55, 0, 255)">{{data[0][2]}}</h6><hr>
                <h5>Backlogs</h5>
                <h6 style="color : rgb(55, 0, 255)">{{data[0][3]}}</h6><hr>
                <h5>Branch</h5>
                <h6 style="color : rgb(55, 0, 255)">{{data[0][4]}}</h6><hr>
                <h5>Codechef Handle</h5>
                <h6 style="color : rgb(55, 0, 255)">{{data[0][6]}}</h6><hr>
                <h5>Codeforce Handle</h5>
                <h6 style="color : rgb(55, 0, 255)">{{data[0][7]}}</h6><hr>
                <h5>InterviewBit Handle</h5>
                <h6 style="color : rgb(55, 0, 255)">{{data[0][8]}}</h6><hr>
                <h5>Leetcode Handle</h5>
                <h6 style="color : rgb(55, 0, 255)">{{data[0][9]}}</h6><hr>
                <h5>SPOJ Handle</h5>
                <h6 style="color : rgb(55, 0, 255)">{{data[0][10]}}</h6><hr>
             </div>
          </div>
          
          <br>
       </div>
       <div class="col-md-7">
          <div class="card">
             <div class="card-body">
                <div class="row">
                   <div class="col">
                      <center>
                         <h4>Your Scores</h4>
                      </center>
                   </div>
                </div>
                <div class="row">
                   <div class="col">
                      <hr>
                   </div>
                </div>
                <div class="row">
                   <div class="col">
                    <table class="table  my-5 border-0">
                        <tr class="table__header">
                            <!-- {% for header in headings %}
                            <th class="table__cell">{{ header }}</th>
                            {% endfor %} -->
                            <th>Codechef</th>
                            <th>Codeforces</th>
                            <th>InterviewBit</th>
                            <th>SPOJ</th>
                            <th>Leetcode</th>
                            <th>Overall Score</th>
                            
                        </tr>
                        <!-- {% for row in data %}
                        <tr class="table__row">
                            {% for cell in row %}
                                <td clas="table__cell">{{ cell }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %} -->
                        <tr style="color : rgb(55, 0, 255); font-weight : bold">
                            <td> {{scores[0][1]}} </td>
                            <td>{{scores[0][2]}}</td>
                            <td>{{scores[0][3]}}</td>
                            <td>{{scores[0][4]}}</td>
                            <td>{{scores[0][5]}}</td>
                            <td>{{scores[0][6]}}</td>
                            
                        </tr>
                    </table>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-md-15">
           <div class="card">
              <div class="card-body">
                 <div class="row">
                    <div class="col">
                       <center>
                          <h4>Your Placement Status</h4>
                       </center>
                    </div>
                 </div>
                 <div class="row">
                    <div class="col">
                       <hr>
                    </div>
                 </div>
                 <table class="table  my-5 border-0">
                    <tr class="table__header">
                        {% for header in headings %}
                        <th class="table__cell">{{ header }}</th>
                        {% endfor %}
                       
                    </tr>
                    {% for row in placements %}
                    <tr class="table__row">
                        {% for cell in row %}
                            <td clas="table__cell">{{ cell }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    
                </table>
              </div>
           </div>
           </div>
       </div>
    </div>
 </div>

 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

 {% endblock %}